.advice
    margin-top 20px

    @media screen and (min-width 1366px)
        margin-top 80px

    &_image
        img
            max-width 520px
            height auto

    &-button
        margin-top 80px

    &_content_1_title
        margin-bottom 30px

    &_content_1_title,
    &_content_2_title
        font-family: Poppins
        h6
            color: #9654AE;
            font-size: 17px;
            font-weight: 600

        p
            color: #204F91
            font-family: Poppins
            font-size: 15px
            font-weight: 600
            line-height: 1.6em
            letter-spacing: -0.2px

    &_subtitle
        &, h6
            color: #9654AE
            font-family: Roboto
            font-size: 19px
            font-weight: 500
            letter-spacing: 6.5px

    &_title
        
        h2
            color: #204F91
            font-family: Asap
            font-size: 53px
            font-weight: 700
            line-height: 1.3em
            letter-spacing: -0.7px
            max-width 1080px
            margin 0 auto

        margin-bottom 80px