.contraction
    padding-top 20px
    @media screen and (min-width 1366px)
        padding-top 80px

    .contraction_content
        margin-top 20px

        .contract_title_content
            color: #9654AE
            font-family: Poppins
            font-size: 17px
            font-weight: 600

        p
            color: #204F91
            font-family: Poppins
            font-size: 15px
            font-weight: 600
            line-height: 1.6em
            letter-spacing: -0.2px

    .contraction_image
        img
            max-width 100%
            height auto

    .contraction_title
        color: #9654AE
        font-family "Roboto", Sans-serif
        font-size: 19px
        font-weight: 500
        letter-spacing: 6.5px
        margin-bottom 20px

    .contraction_text
        color: #204F91;
        font-family: Asap
        font-size: 53px;
        font-weight: 700;
        line-height: 1.3em;
        letter-spacing: -0.7px;

        h2
            color: #204F91;
            font-family: Asap
            font-size: 53px;
            font-weight: 700;
