body

    

    .nav_logo
        display flex
        justify-content space-between

    .button-contact-container
        flex 0 0 auto
        display flex
        align-items center

    .button-contact
        font-family: Poppins
        font-weight: 700
        fill: #FFFFFF
        color: #FFFFFF
        background-color: #204F91
        display flex
        justify-content center
        align-items center
        max-height 59px
        font-size: 18px;
        padding: 20px 40px;
        border-radius: 5px;
        text-decoration none
        transition all .2s linear

        &:hover
            background-color #183C6E

    .message-credit
        background-image linear-gradient(130deg, #1D4F91 0%, #9754AE 100%)
        padding-top 80px
        padding-bottom 80px

    .message-credit-title
        font-family Poppins
        font-size: 40px
        font-weight: 600
        font-style: oblique
        line-height: 1.3em
        letter-spacing: -0.7px
        color #fff
        margin-bottom 20px

    .score-button-default
        font-family Asap
        font-weight: 700
        fill #FFFFFF
        color #FFFFFF
        background-color #9654AE
        border-radius 5px
        padding 25px 50px
        display inline-block
        text-decoration none
        transition all .2s linear

        &:hover
            background-color #CF30F2
        

