/**
 * APP Default
 */

 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/**
 * Core
 */
@import "core/reset"
@import "core/variables"
@import "core/default"


/**
 * Components
 */
@import "components/main"
@import "components/contraction"
@import "components/advice"

/**
 * Pages
 */

