/**
 * VTex Local - Variaveis
 */

// ----- Config ----- //
Asap = 'Asap', sans-serif;
Poppins = 'Poppins', sans-serif;
Roboto = 'Roboto', sans-serif;

//  Geral
config = {
    "background" : {
        "color": ( #353535 )
        "opacity": rgba(0,0,0,.2)
    },
    "color": ( #ffffff #2e447f #f68c37),
    "button": ({"background": #c1e84b, "color": #fff } {"background": #a3c441, "color": #fff}),
    "font": {
        "family": ("'Lato', sans-serif"),
        "size": 14px
    },
    "border": {
        "radius": 3px
    },
    "facebook": #42579c,
    "twitter": #54a6e5,
    "google": #ce5333
}
text = {
     "font": {
        "family": ("'Lato', sans-serif"),
        "size": 14px
    },

    "color": ( #000000),
}
roadRage = 'RoadRage'
montserrat = 'Montserrat', sans-serif
nunito = 'Nunito', sans-serif
Lato = 'Lato', sans-serif

cor01 = #1A1D1C
cor02 = #23B197
cor03 = #F71963
cor04 = #FFFFFF
cor05 = #3DBEA6

 
